<body>
    <div class="body">
        <div class="subject-container" id="education">
            <h2>
Education
</h2>
            <div class="component-container">
                <h3 class="title">
Rochester Institute of Technology
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            B.S Computer Science
                        </p>
                    </div>
                    <div class="right-info">
                        <b>Rochester, NY</b>
                        <br>
                        <i>May 2020</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="subject-container" id="work">
            <h2>
Work Experience
</h2>
            <div class="component-container">
                <h3 class="title">
CeASAR - The Center for Adolescent Substance Abuse Research @ Harvard Medical School
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            Worked with other developers on multiple parts of the software supporting a multiple-thousand participant study, including:
                        </p>
                        <ul>
                            <li>
                                Automated study participant call-back
                            </li>
                            <li>
                                Drip email system
                            </li>
                            <li>
                                Participant contact information verification
                            </li>
                            <li>
                                Application deployment, server provisioning on Heroku, AWS
                            </li>
                        </ul>
                        <p>
                            Tools, languages, libraries used include:
                        </p>
                        <ul>
                            <li>
                                Java web services with Jetty, Jackson etc.
                            </li>
                            <li>
                                Clientside interactive javascript communicating with remote APIs
                            </li>
                            <li>
                                Clojure data processing/email sending with Twilio/Mandrill
                            </li>
                            <li>
                                Angular/Jade/Sass/Scss/NodeJS
                            </li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <b>Boston, MA</b>
                        <br>
                        <i>June - August 2015</i>
                        <br>
                        <a href="http://www.ceasar.org/">www.ceasar.org</a>
                    </div>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
Narwhal Systems
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            Building reactive data visualizations and tools for ecological survey apps for field biology research on (currently) Sea Turtles in Florida, and Cotton Topped Tamarins in the Amazon rain forest, using:
                        </p>
                        <ul>
                            <li>
                                Clientside Javascript frameworks
                            </li>
                            <li>
                                Backend API server interactions
                            </li>
                            <li>
                                Custom build tools (for Javascript preprocessing, concatenation etc)
                            </li>
                            <li>
                                HTML/CSS for layout+styling
                            </li>
                        </ul>
                        <p>
                            Visualizations and tools include:
                        </p>
                        <ul>
                            <li>
                                Quantity of each type of food eaten by each cottontop clan
                            </li>
                            <li>
                                Clan membership over time
                            </li>
                            <li>
                                Sea Turtle nests on a geographic map
                            </li>
                            <li>
                                Custom field collection editor
                            </li>
                        </ul>
                        <p>
                            Other projects I am working on with Narwhal Systems include:
                        </p>
                        <ul>
                            <li>
                                Planning the next phase: a fully clientside Javascript app that interacts with the server solely via RESTful apis.
                            </li>
                            <li>
                                Built front facing website using WordPress – www.narwhalsystems.com
                            </li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <b>Rochester, NY</b>
                        <br>
                        <i>October 2014 - Present</i>
                        <br>
                        <a href="www.narwhalsystems.com">www.narwhalsystems.com</a>
                    </div>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
Designspring, Inc.
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <h3 class="title">
Harpsichord Project
</h3>
                        <p>
                            Working in collaboration with Designspring Inc. and the music department at McGill University to design and develop a computer controlled analog harpsichord. The computer will record and control the position of the instrument’s keys as they are played. This is useful to study how it is played in different situations, as well as to play back recorded music at higher resolution and accuracy that would be normally possible using a standard MIDI file.
                        </p>
                        <ul>
                            <li>
                                Developing interactive Web UI to control the harpsichord’s state, including starting and stopping playback, record mode, MIDI input mode, etc.
                            </li>
                            <li>
                                Designing and implementing a state machine and series of states and possible transitions to control the harpsichord’s different modes of operation
                            </li>
                            <li>
                                Designing and implementing the control systems that run the harpsichord. Including reading from low level inputs, writing to outputs, keeping time in sync, etc.
                            </li>
                            <li>
                                Reading a subset of the MIDI protocol so the device can act as a simple MIDI instrument
                            </li>
                        </ul>
                        <h3 class="title">
Plasma Physics
</h3>
                        <p>
                            This is an ongoing astrophysics research project with an astrophysicist professor interested in planetary ring formation theory. The goal of the project is to simulate the environment in the rings of Saturn. I am collaborating in the design and implementation of the simulator architecture, where my task is to write the code that runs on the parallel computer.
                        </p>
                        <ul>
                            <li>
                                Wrote a fractal generator, written as an exercise to learn parallel computation:
                                <ul>
                                    <li>
                                        Using CUDA, a subset of C as the language that runs the calculation
                                    </li>
                                    <li>
                                        Using Python and PyCUDA to interact with the CUDA runtime and launch/interact with the calculation
                                    </li>
                                    <li>
                                        Using Python for data collection and visualization
                                    </li>
                                    <li>
                                        Timing various parameters
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Planning the implementation of an N-body simulator, the goal of my side of the project:
                                <ul>
                                    <li>
                                        Designing distributed system for running and managing multiple simulations at once on multiple systems
                                    </li>
                                    <li>
                                        Designing the data structures that will hold all of the simulation data and metadata
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-info">
                    <b>Westport, CT</b>
                    <br>
                    <i>December 2014 – May 2015</i>
                    <br>
                    <a href="http://designspring.com/">www.designspring.com</a>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
“This Ground”, Art Installation
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            Worked with another engineer to design and develop a simple control system for an art installation
                        </p>
                        <ul>
                            <li>
                                Implemented system using a Raspberry Pi
                            </li>
                            <li>
                                Communicated with a thermal sensor IC using low level protocol
                            </li>
                            <li>
                                Managed the launching and execution of different processes for playing video/audio
                            </li>
                            <li>
                                Interacted with buttons and switches via GPIO
                            </li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <b>New Deal Gallery, Mt. Morris, NY</b>
                        <br>
                        <i>March 14 – March 31 2015</i>
                    </div>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
Springwater Center for Meditative Inquiry and Retreats
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            Rebuilt website for meditation retreat center using WordPress – www.springwatercenter.org, including interactive features such as:
                        </p>
                        <ul>
                            <li>
                                Calendar
                            </li>
                            <li>
                                Automatically-generated ‘upcoming events’ listing
                            </li>
                            <li>
                                Online store for purchase/download of library of recorded talks
                            </li>
                            <li>
                                Old website was 100% static HTML. It had to be reimplemented as a WordPress theme.
                            </li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <b>Springwater, NY</b>
                        <br>
                        <i>September 2014</i>
                        <br>
                        <a href="www.springwatercenter.org">www.springwatercenter.org</a>
                    </div>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
Radical Imaging
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            Developed a tool to add medical terminology to windows speech recognition library
                        </p>
                        <p>
                            Used C#, Visual Studio, interacted with Windows API
                        </p>
                    </div>
                    <div class="right-info">
                        <b>Stow, MA</b>
                        <br>
                        <i>July - August 2014</i>
                    </div>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
Facets Kids via Facets Multimedia Inc.
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            Worked remotely developing a mobile app for children’s video streaming site for the purpose of providing public access to 30 years of children’s films from Chicago Children’s Film Festival.
                        </p>
                    </div>
                    <div class="right-info">
                        <b>Chicago IL</b>
                        <br>
                        <i>July - August 2014</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="subject-container" id="other">
            <h2>
Photography
</h2>
            <div class="component-container">
                <h3 class="title">
TA for Digital Photography class
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <p>
                            Taught students how to use Adobe Photoshop CS5, as well as how to operate Nikon D3100/D5100 cameras at Allendale Columbia School
                        </p>
                    </div>
                    <div class="right-info">
                        <b>Allendale Columbia School</b>
                    </div>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
Shows
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <ul>
                            <li>
                                “Through My Eyes”, <b>Strong Behavioral Health, Rochester NY</b>, <i>March 2014 – May 2014</i>
                            </li>
                            <li>
                                “Through the Student Lens 2014” <b>Image City Gallery, Rochester NY</b>, <i>March 25 2014 – April 20 2014</i>
                            </li>
                            <li>
                                Dansville Public Library, <b>Dansville NY</b>, <i>October 1 2014 – November 2 2014</i>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="component-container">
                <h3 class="title">
Awards / Grants
</h3>
                <div class="info-wrapper">
                    <div class="left-info">
                        <ul>
                            <li>
                                Best in Show (Jaapallot), “Through My Eyes”, <b>Strong Behavioral Health, Rochester NY</b> <i>March 2014 – May 2014</i>
                            </li>
                            <li>
                                Dick Smith Young Artists Grant, <b>Genesee Valley Council on the Arts, Mt. Morris NY</b>, <i>October 2014</i>
                            </li>
                        </ul>
                    </div>
                    <div class="right-info">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    /* Write JavaScript here */
    </script>
</body>
