#masthead {
    margin-bottom: 20px;
    h1 {
        display: inline;
    }
}

.subHeader {
    display: inline;
    color: lightgrey;
}

#page-container {
    min-width: 800px;
    display: inline-block;
}

#body-container {
    padding: 1rem;
}
